.field_cadastrar{
	width: 60%;
	padding: 20px;
}

.field_cadastrar input{
	width: 50%;
}

fieldset form input[type="text"] {
    width: 200px;
}

div #logo_geral{
	margin: 0;
	padding: 0;
	margin-top: 20px;
}